blockquote {

  background-color: #F2DEDE;
}


blockquote small {

  color: #333333;
}


small, .small {

    font-size: 100%;
}

.header-set {

      margin-right: 10px;
}

#headers_config p {

  color: #468847;
  margin: 3px 0 0 0;
}


#headers_config .new {

 /* background-color: #dddddd;*/

}

#headers_config .used {

    border-bottom: thin dotted #DD4814;

}

.collection-status {

  float: right;

}

.header-filter:hover {

    opacity: 0.7;  
}


console {

  color: #DFE5CD;
}


#regex_console {

  background-color: black;
  height: 300px;
  box-shadow: 0 5px 15px;
  overflow: auto;
}



.logout {

  float: right;

}

.logout a {

  color: #FF0000;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  height: 5rem;
  width: 5rem;

  -webkit-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.pace .pace-progress:after {
  display: block;
  position: absolute;
  top: 0;
  right: .5rem;
  content: attr(data-progress-text);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 5rem;
  line-height: 1;
  text-align: right;
  color: rgba(255, 24, 0, 0.19999999999999996);
}

#payload_example {
  max-height: 70px;
  overflow: auto;
}


#advanced_values {
  max-height: 100px;
  overflow: auto;
}

.modal-dialog {
    /*overflow: auto;*/
    max-height: 88%;
}

.btn-group .btn-group-vertical {
    margin-right: 5px;
}

#active_extra_char {
    width: 50%;
    float: right;
}


#add_regex_button {

    float: right;

}

#payload_type {

  display: block;
  margin-left: 0px;

}

#Unconfigured {

  height: 357px;
  display: block;
  overflow: auto;

}

#FilterRules {

  height: 227px;
  display: block;
  overflow: auto;

}