.logout {

  float: right;

}

.logout a {

  color: #FF0000;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  height: 5rem;
  width: 5rem;

  -webkit-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.pace .pace-progress:after {
  display: block;
  position: absolute;
  top: 0;
  right: .5rem;
  content: attr(data-progress-text);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 5rem;
  line-height: 1;
  text-align: right;
  color: rgba(255, 24, 0, 0.19999999999999996);
}

#payload_example {
  max-height: 70px;
  overflow: auto;
}


#advanced_values {
  max-height: 100px;
  overflow: auto;
}

.modal-dialog {
    overflow: auto;
    max-height: 88%;
}

.btn-group, .btn-group-vertical {
    margin-left: 0px;
    width: 100%;
}

#active_extra_char {
    width: 50%;
    float: right;
}